@font-face {
  font-family: '강원교육튼튼';
  src: url('../font/강원교육튼튼.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

word-cloud {
  font-family: '강원교육튼튼';
  color: #000000;
}

.WordCloudPage {
  background-color: #fffff9e6;
  border-radius: 5px;
  height: 700px;
  display: flex;
  position: relative;
  margin: 30px 0;
  justify-content: center;
}

.WordCloud {
  margin: 25px 0;
  display: flex;
  position: relative;
}

@media(max-width:768px){
  .WordCloudPage{
    margin-left:5%;
    margin-right:5%;
    height:auto;
    width: auto;
    margin-bottom:100px;
  }
  .WordCloud{
    margin:0;
    align-items:center;
    align-content:center;
  }
}