.ProjectContentWrapper {
  display: grid;
  grid-template-areas:
    "youtube"
    "pdf";
  grid-template-rows: 450px 450px;
  justify-content: center;
}

#ProjectYoutube {
  border-top: 3px dashed #00620a;
  grid-area: youtube;
}
#ProjectPDF {
  grid-area: pdf;
  height: 110%;
}
.ProjectContent {
  padding: 30px 0;
}

.ProjectContent p {
  padding-bottom: 20px;
  font-size: 30px;
  color: #00620a;
  font-weight: 900;
}

.ProjectPDF {
  margin-top: 5%;
  width: 100%;
  height: 80%;
}

@media (max-width: 500px) {
  .ProjectPDF {
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: scroll;
  }
  .ProjectContent p {
    font-size: 20pt;
    margin-left: 5%;
  }
  .ProjectContent {
    width: auto;
  }
  #ProjectYoutube {
    margin-left: 5%;
    margin-right: 5%;
  }
  #ProjectYoutube p {
    margin-left: 0;
  }
  #ProjectPDF p {
    margin-top: 5%;
  }
  span {
    margin-left: 5%;
  }
}
